@import '../../shared/styles/styles.scss';

section.why-uni {
    padding: 98px 0 102px 0;
    background-color: $semi-white-background;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            @include fontis($main-font, 48px, 700, 65px, $primary);
            text-align: center;
            margin-bottom: 10;
        }
        .compare {
            display: grid;
            grid-template-columns: 152px 143px 143px;
            grid-template-rows: 45px repeat(4, 61px);
            div {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: solid $compare-border-transparent 1px;
            }
            .uni {
                grid-column: 2;
                border: none;
                img {
                    width: 53px
                }
            }
            .competitor {
                @include fontis($main-font, 16px, 600, 24px, $text-secondary);
                letter-spacing: 0.28px;
                grid-column: 3;
                border: none;
                border-left: solid $compare-border-transparent 1px;
            }
            .text {
                justify-content: flex-end;
                p {
                    @include fontis($main-font, 17px, 400, 24px, $text-secondary);
                    padding-right: 17.5px;
                    position: absolute;
                    margin: 0;
                }
            }
            .cross {
                border-left: solid $compare-border-transparent 1px;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    section.why-uni .container {
        .compare {
            grid-template-columns: 330px 143px 143px;
        }
    }
}
@include media-breakpoint-down(sm) {
    section.why-uni {
        .container {
            .compare {
                grid-template-rows: 45px repeat(4, max-content);
                div:not(.uni):not(.competitor) {
                    min-height: 62px;
                }
                .text p {
                    padding: 10px 0;
                }
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    section.why-uni {
        .container {
            h3 {
                @include fontis($main-font, 30px, 700, 35px, $primary);
                margin-bottom: 34px;
            }
            .compare {
                display: grid;
                grid-template-columns: calc(100% - ( 82px * 2)) 82px 82px;
                .competitor {
                    font-size: 13px;
                }
                .text p {
                    font-size: 15px;
                    padding: 0;
                    position: relative;
                    max-width: 170px;
                    text-align: right;
                }
            }
        }
    }
}
