<section class="why-uni">
    <div class="container">
        <h3>{{ 'universities.whyUni.title' | translate }}</h3>
        <div class="compare">
            <div class="uni">
                <img [src]="'general.logo' | translate" />
            </div>
            <div class="competitor">
                {{ 'universities.whyUni.competitor' | translate }}
            </div>
            <ng-container *ngFor="let text of 'universities.whyUni.pros' | translate">
                <div class="text">
                    <p>
                        {{ text }}
                    </p>
                </div>
                <div>
                    <img src="/assets/icons/checkmark.svg" />
                </div>
                <div class="cross">
                    <img src="/assets/icons/cross.svg" />
                </div>
            </ng-container>
        </div>
    </div>
</section>
