<div class="university-features">
    <div class="container">
        <div class="content">
            <div class="all-in-one">
                <h3>
                    <span [ngStyle]="{ color: settings?.buttonColor }">{{ 'universities.features.titleSpan' | translate }}</span>
                    {{ 'universities.features.titleAfterSpan' | translate }}
                </h3>
                <div class="right-box">
                    <p>{{ 'universities.features.description' | translate }}</p>
                    <a [ngStyle]="{ color: settings?.buttonColor }" href="{{ 'universities.features.learnMoreBtn.link' | translate }}"
                        >{{ 'universities.features.learnMoreBtn.title' | translate }}
                        <i
                            [ngStyle]="{ stroke: settings?.buttonColor }"
                            [inlineSVG]="
                                'https://res.cloudinary.com/dvompj8gc/image/upload/v1586861755/web/icons/university-arrow_ukhupg.svg'
                            "
                        ></i>
                    </a>
                </div>
            </div>
            <div class="features">
                <div *ngFor="let feature of 'universities.features.items' | translate" class="feature">
                    <img src="{{ feature.imgUrl }}" />
                    <div class="texts">
                        <p class="feature-title">{{ feature.title }}</p>
                        <p class="feature-description">{{ feature.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
