@import '../../shared/styles/styles.scss';
.university-features {
    .container {
        .content {
            padding-top: 150.7px;
            .all-in-one {
                display: flex;
                flex-direction: row;
                margin: 0 0 125px 88px;
                h3 {
                    @include fontis($main-font, 56px, 700, 54px, $primary);
                    margin: 0;
                    width: 440px;
                }
                .right-box {
                    max-width: 351px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 0 0 20px;
                    p {
                        @include fontis($main-font, 20px, 400, 30px, $text-secondary);
                        margin-bottom: 12px;
                    }
                    a {
                        @include fontis($main-font, 20px, 700, 24px, $text-secondary);
                        i {
                            margin-left: 10.2px;
                            transition: all 0.15s linear;
                        }
                        &:hover {
                            i {
                                margin-left: 20.2px;
                            }
                        }
                    }
                }
            }
            .features {
                display: flex;
                flex-direction: column;
                .feature {
                    display: flex;
                    flex-direction: row;
                    &:nth-child(odd) {
                        img {
                            order: 1;
                        }
                        .texts {
                            order: 2;
                            margin: 0 100px 0 auto;
                        }
                    }
                    &:nth-child(even) {
                        img {
                            order: 2;
                            margin: 0 0 0 auto;
                        }
                        .texts {
                            order: 1;
                            margin: 0 0 0 90px;
                        }
                    }
                    img {
                        height: 450px;
                    }
                    .texts {
                        max-width: 464px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        .feature-title {
                            @include fontis($main-font, 40px, 700, 50px, $primary);
                            margin: 0 0 10px 0;
                        }
                        .feature-description {
                            @include fontis($main-font, 20px, 400, 30px, $text-secondary);
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .university-features {
        .container {
            .content {
                padding-top: 130px;
                .all-in-one {
                    margin: 0 0 123.9px 0;
                    h3 {
                        margin: 0 30px 0 0;
                    }
                    .right-box {
                        margin: 0;
                    }
                }
                .features {
                    .feature {
                        &:nth-child(odd) {
                            img {
                                margin-left: -28px;
                            }
                            .texts {
                                margin: 0 16px 0 auto;
                            }
                        }
                        &:nth-child(even) {
                            .texts {
                                margin: 0 0 0 30px;
                            }
                        }
                        img {
                            height: 425px;
                        }
                        .texts {
                            max-width: 441px;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .university-features {
        .container {
            padding: 0;
            .content {
                padding-top: 116.4px;
                .all-in-one {
                    margin: 0 0 90.8px 0;
                    h3 {
                        @include fontis($main-font, 44px, 700, 50px, $primary);
                        margin: 0 22px 0 0;
                        max-width: 338px;
                    }
                    .right-box {
                        max-width: 351px;
                        justify-content: flex-start;
                    }
                }
                .features {
                    .feature {
                        &:not(:last-of-type) {
                            margin-bottom: 15px;
                        }
                        &:nth-child(odd) {
                            img {
                                margin-left: -18px;
                            }
                            .texts {
                                margin: 0 0 0 auto;
                            }
                        }
                        &:nth-child(even) {
                            .texts {
                                margin: 0 0 0 19px;
                            }
                        }
                        img {
                            height: 330px;
                        }
                        .texts {
                            max-width: unset;
                            width: 360px;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .university-features {
        .container {
            padding: 0 15px;
            .content {
                padding-top: 79.1px;
                .all-in-one {
                    flex-direction: column;
                    margin: 0 0 71px 0;
                    h3 {
                        @include fontis($main-font, 38px, 700, 40px, $white);
                        margin: 0;
                        max-width: 294px;
                        span {
                            color: red;
                        }
                    }
                    .right-box {
                        max-width: 345px;
                        justify-content: flex-start;
                        p {
                            @include fontis($main-font, 18px, 400, 26px, $text-secondary);
                            margin-bottom: 13px;
                        }
                        a {
                            @include fontis($main-font, 20px, 700, 24px, $text-secondary);
                        }
                    }
                }
                .features {
                    .feature {
                        flex-direction: column;
                        &:not(:last-child) {
                            margin-bottom: 91.9px;
                        }
                        &:nth-child(odd) {
                            img {
                                order: 2;
                                margin: 0 auto 0 0;
                            }
                            .texts {
                                order: 1;
                                margin: 0;
                            }
                        }
                        &:nth-child(even) {
                            img {
                                order: 2;
                                margin: 0 auto 0 0;
                            }
                            .texts {
                                order: 1;
                                margin: 0;
                            }
                        }
                        img {
                            height: 280px;
                        }
                        .texts {
                            max-width: 100%;
                            width: 100%;
                            .feature-title {
                                @include fontis($main-font, 26px, 700, 35px, $primary);
                                margin: 0 0 10px 0;
                            }
                            .feature-description {
                                @include fontis($main-font, 18px, 400, 26px, $text-secondary);
                                margin: 0 0 19px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
