<div class="footer">
    <div class="container">
        <div class="content">
            <div class="footer">
                <div class="section">
                    <h3 class="section-title">{{ 'footer.sections.about.title' | translate }}</h3>
                    <div class="link" *ngFor="let link of 'footer.sections.about.links' | translate">
                        <a *ngIf="!link.email && !link.href && link.routerLink" [routerLink]="link.routerLink">
                            {{link.linkTitle}}
                        </a>
                    </div>
                </div>
                <div class="section" *ngIf="universities">
                    <h3 class="section-title">{{ 'footer.sections.universities.title' | translate }}</h3>
                    <div [@slideInOut]="anim">
                        <ng-container *ngFor="let uni of universities">
                            <div class="link">
                                <a [routerLink]="['university/' + uni.slug]">{{uni.name}}</a>
                            </div>
                        </ng-container>
                    </div>
                    <a class="more" *ngIf="universities.length >= 5" [ngClass]="{'expanded': anim === 'out'}" (click)="expandAnim()"><img src="/assets/icons/arrow.svg"> {{ anim === 'out' ? 'less': 'more' }}</a>
                </div>
                <div class="section">
                    <h3 class="section-title">{{ 'footer.sections.contacts.title' | translate }}</h3>
                    <div class="link">
                        <a href="mailto:{{ 'general.email' | translate }}">{{ 'general.email' | translate }}</a>
                    </div>
                    <div class="link">
                        <a href="{{ 'general.facebook' | translate }}">Facebook</a>
                    </div>
                    <div class="link">
                        <a href="{{ 'general.linkedin' | translate }}">LinkedIn</a>
                    </div>
                </div>
                <div class="footer-end">
                    <stores></stores>
                    <div class="terms">
                        <a
                            *ngFor="let item of 'footer.footerEnd.terms' | translate"
                            [routerLink]="item.routerLink"
                            routerLinkActive="router-link-active"
                            >{{ item.linkTitle }}</a
                        >
                    </div>
                    <a class="copyright" href="{{ 'footer.footerEnd.turingLink' | translate }}">{{
                        'footer.footerEnd.copyright' | translate
                    }}</a>
                </div>
                <a class="copyright-mobile" href="{{ 'footer.footerEnd.turingLink' | translate }}">{{
                    'footer.footerEnd.copyright' | translate
                }}</a>
            </div>
        </div>
    </div>
</div>
