@import '../shared/styles/styles.scss';
.footer {
    background-color: $white;
    .container {
        .content {
            .footer {
                display: flex;
                flex-direction: row;
                padding: 50.8px 0 41.3px;
                user-select: none;
                .section {
                    display: flex;
                    flex-direction: column;
                    .section-title {
                        @include fontis($main-font, 16px, 600, 22px, $primary);
                        margin-bottom: 10.5px;
                    }
                    .ng-trigger-slideInOut {
                        -webkit-mask-image: -webkit-radial-gradient(white, black);
                    }
                    .link {
                        margin-bottom: 7px;

                        &:last-child {
                            margin: 0;
                        }
                        a {
                            @include fontis($main-font, 15px, 400, 20px, $text-secondary);
                            transition: 0.15s linear;
                            &:hover {
                                color: $primary;
                            }
                        }
                    }

                    &:not(:last-child) {
                        margin-right: 100px;
                    }
                    .more {
                        @include fontis($main-font, 16px, 600, 22px, $primary);
                        display: flex;
                        align-items: center;
                        img {
                            margin-right: 8px;
                        }
                        &.expanded img {
                            transform: rotate(180deg);
                        }
                    }
                }
                .footer-end {
                    margin-left: auto;
                    .stores {
                        display: flex;
                        margin-bottom: 70.4px;
                        a {
                            &:first-child {
                                margin-right: 9px;
                            }
                            img {
                                width: 115.33px;
                                height: 34.2px;
                            }
                        }
                    }
                    .terms {
                        display: flex;
                        flex-direction: row;
                        padding-left: 9px;
                        a {
                            @include fontis($main-font, 14px, 600, 19px, $text-secondary);
                            user-select: none;
                            &:first-child {
                                margin-right: 26.5px;
                            }
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                    a.copyright {
                        @include fontis($main-font, 12px, 600, 16px, $text);
                        margin: 4.5px 0 0 0;
                        text-align: end;
                    }
                }
                a.copyright-mobile {
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .footer {
        .container {
            .content {
                .footer {
                    padding: 30px 0 13px 0;
                    display: grid;
                    grid-template-columns: repeat(2, calc(50% - 23.5px));
                    grid-column-gap: 47.5px;
                    grid-template-areas:
                        'section section'
                        'section section'
                        'copyright copyright';
                    grid-template-rows: repeat(3, auto);
                    grid-row-gap: 29.8px;

                    .section {
                        &:not(:last-child) {
                            margin-right: 0;
                        }
                    }
                    .footer-end {
                        margin: 0;
                        .stores {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 0;
                            img {
                                &:not(:last-child) {
                                    margin-bottom: 13px;
                                }
                            }
                        }
                        .terms {
                            flex-direction: column;
                            padding: 0;
                            margin-top: 17.7px;

                            a {
                                &:first-child {
                                    margin: 0 0 10px 0;
                                }
                            }
                        }
                        a.copyright {
                            display: none;
                        }
                    }
                    a.copyright-mobile {
                        @include fontis($main-font, 12px, 600, 16px, $text);
                        display: block;
                        grid-area: copyright;
                        text-align: center;
                        margin: 0;
                    }
                }
            }
        }
    }
}
