@import '../../../shared/styles/styles.scss';
.information {
    margin: 0 0 75px;
    .container {
        .content {
            display: flex;
            flex-direction: column;
            .information-box {
                max-width: 674px;
                align-self: center;
                margin-right: 0;
                .box-title {
                    @include fontis($main-font, 48px, 700, 65px, $primary);
                    margin-bottom: 9px;
                    text-align: center;
                }
                .description {
                    text-align: center;
                    @include fontis($main-font, 20px, 400, 30px, $text-secondary);
                    margin: 0 0 12px 0;
                }
                .about-us-button {
                    display: inline-flex;
                    margin-left: calc(50% - 50px);
                    a {
                        @include fontis($main-font, 20px, 700, 24px, $brand-green);
                        margin-right: 10.2px;
                        transition: all 0.15s linear;
                    }
                    &:hover {
                        a {
                            margin-right: 20.2px;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-only(lg) {
    .information {
        margin: 0 0 68px 0;
    }
}
@include media-breakpoint-only(md) {
    .information {
        margin: 0 0 75px 0;
    }
}
@include media-breakpoint-down(sm) {
    .information {
        margin: 0 0 75px 0;
        .container {
            .content {
                .information-box {
                    display: flex;
                    flex-direction: column;
                    justify-self: center;
                    .box-title {
                        @include fontis($main-font, 30px, 700, 35px, $primary);
                        margin-bottom: 10px;
                        align-self: center;
                    }
                    .description {
                        @include fontis($main-font, 18px, 400, 26px, $text-secondary);
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}
