<div class="information">
    <div class="container">
        <div class="content">
            <div class="information-box">
                <p class="box-title">{{ 'landing.benefits.informationBox.title' | translate }}</p>
                <p class="description">{{ 'landing.benefits.informationBox.description' | translate }}</p>
                <div class="about-us-button">
                    <a [routerLink]="'landing.benefits.informationBox.aboutUsLink' | translate"
                        >{{ 'landing.benefits.informationBox.aboutUsButton' | translate }}
                    </a>
                    <i [inlineSVG]="'https://res.cloudinary.com/dvompj8gc/image/upload/v1586178395/web/icons/arrow-right_mz5z9v.svg'"></i>
                </div>
            </div>
        </div>
    </div>
</div>
