<div class="stores">
    <a href="{{ 'general.appStore.link' | translate}}" target="_blank"><img src="{{ 'general.appStore.img' | translate }}" /></a>
    <a href="{{ 'general.googlePlay.link' | translate}}" target="_blank"><img src="{{ 'general.googlePlay.img' | translate }}" /></a>
</div>
