<div class="privacy-terms">
    <div class="container">
        <div class="content">
            <h1 *ngIf="isTerms">{{ 'termsTitle' | translate }}</h1>
            <h1 *ngIf="isPolicy">{{ 'privacyPolicyTitle' | translate }}</h1>
            <div class="text-block">
                <p class="texts" [innerHTML]="texts"></p>
            </div>
        </div>
    </div>
</div>
