@import '../../shared/styles/styles.scss';
.privacy-terms {
    padding: 65px 0 40px 0;
    .container {
        .content {
            h1 {
                @include fontis($main-font, 42px, 700, 60px, $primary);
                margin-bottom: 29px;
            }
            display: flex;
            flex-direction: column;
            .text-block {
                display: flex;
                flex-direction: column;
                max-width: 760px;
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
                p.text-title {
                    @include fontis($main-font, 22px, 700, 23px, $primary);
                    margin-bottom: 11px;
                }
                p.texts {
                    @include fontis($main-font, 20px, 400, 30px, $text-secondary);
                    margin: 0;
                }
            }
        }
    }
}
@include media-breakpoint-only(lg) {
    .privacy-terms {
        padding: 65px 0 37px 0;
        .container {
            .content {
                h1 {
                    margin-bottom: 30px;
                }
                .text-block {
                    p.text-title {
                        margin-bottom: 10px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 41px;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-only(md) {
    .privacy-terms {
        padding: 65px 0 42px 0;
        .container {
            .content {
                h1 {
                    @include fontis($main-font, 28px, 700, 40px, $primary);
                    margin-bottom: 29px;
                }
                .text-block {
                    .text-title {
                        margin-bottom: 11px;
                    }

                    &:not(:last-child) {
                        margin-bottom: 41px;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .privacy-terms {
        padding: 40px 0 26px 0;
        .container {
            .content {
                h1 {
                    @include fontis($main-font, 28px, 700, 40px, $primary);
                    margin-bottom: 34px;
                }
                .text-block {
                    &:not(:last-child) {
                        margin-bottom: 36px;
                    }
                    p.texts {
                        @include fontis($main-font, 18px, 400, 26px, $text-secondary);
                    }
                }
            }
        }
    }
}
