@import '../../shared/styles/styles.scss';
.about-us-description {
    .container {
        .content {
            padding-bottom: 117.5px;
            display: inline-flex;
            .left-container {
                display: flex;
                flex-direction: column;
                margin-right: 92.5px;
                h3 {
                    @include fontis($main-font, 50px, 700, 62px, $primary);
                    margin-bottom: 17px;
                    max-width: 521px;
                }
                .more-about {
                    @include fontis($main-font, 20px, 700, 24px, $brand-green);
                    &:hover {
                        i {
                            margin-left: 20.2px;
                        }
                    }
                    i {
                        margin-left: 10.2px;
                        transition: all 0.15s linear;
                    }
                }
            }
            .right-container {
                .description {
                    &:not(:last-child) {
                        margin-bottom: 40px;
                    }
                    h4 {
                        @include fontis($main-font, 22px, 700, 23px, $primary);
                        margin-bottom: 4.4px;
                    }
                    p {
                        @include fontis($main-font, 20px, 400, 30px, $text-secondary);
                        max-width: 450px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-only(lg) {
    .about-us-description {
        .container {
            .content {
                .left-container {
                    h3 {
                        @include fontis($main-font, 48px, 700, 62px, $primary);
                        margin-bottom: 17.1px;
                        max-width: 496px;
                    }
                }
                .right-container {
                    .description {
                        p {
                            max-width: 420px;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-only(md) {
    .about-us-description {
        .container {
            .content {
                display: flex;
                flex-direction: column;

                .left-container {
                    margin: 0 0 74px 0;
                    h3 {
                        font-size: 48px;
                        max-width: 496px;
                    }
                }
                .right-container {
                    display: inline-flex;
                    .description {
                        &:not(:last-child) {
                            margin-right: 32px;
                        }
                        p {
                            max-width: 340px;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .about-us-description {
        .container {
            .content {
                display: flex;
                flex-direction: column;
                .left-container {
                    margin: 0 0 58px 0;
                    h3 {
                        @include fontis($main-font, 34px, 700, 39px, $primary);
                        margin-bottom: 16px;
                        max-width: 100%
                    }
                }
                .right-container {
                    .description {
                        margin: 0;
                        h4 {
                            @include fontis($main-font, 22px, 700, 23px, $primary);
                            margin: 0 0 3.4px;
                        }
                        p {
                            @include fontis($main-font, 18px, 400, 26px, $text-secondary);
                            max-width: unset;
                        }
                    }
                }
            }
        }
    }
}
