<div class="about-us-description">
    <div class="container">
        <div class="content">
            <div class="left-container">
                <h3>{{ 'aboutUni.descriptionContainer.sectionTitle' | translate }}</h3>
                <a class="more-about" [routerLink]="'/'">{{ 'aboutUni.descriptionContainer.moreAbout' | translate
                    }}<i [inlineSVG]="'https://res.cloudinary.com/dvompj8gc/image/upload/v1586178395/web/icons/arrow-right_mz5z9v.svg'"></i
                ></a>
            </div>
            <div class="right-container">
                <div *ngFor="let description of 'aboutUni.descriptionContainer.descriptions' | translate" class="description">
                    <h4>{{ description.title }}</h4>
                    <p>{{ description.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
