<div class="stats">
    <div class="container">
        <div class="content">
            <p class="stats-title">{{ stats.title }}</p>
            <div class="stats-box">
                <div class="box">
                    <p class="number" *ngIf="!isLanding">{{ statCounts?.users }}</p>
                    <p class="number" *ngIf="isLanding">{{ statCounts?.universities }}</p>
                    <p class="number-of">{{ stats?.items?.stat1 }}</p>
                </div>
                <div class="box">
                    <p class="number" *ngIf="!isLanding">{{ statCounts?.messages }}</p>
                    <p class="number" *ngIf="isLanding">{{ statCounts?.users }}</p>
                    <p class="number-of">{{ stats?.items?.stat2 }}</p>
                </div>
                <div class="box">
                    <p class="number">{{ statCounts?.events }}</p>
                    <p class="number-of">{{ stats?.items?.stat3 }}</p>
                </div>
            </div>
            <div class="community">
                <p>{{ 'landing.stats.ourCommunityTitle' | translate }}</p>
                <div class="icons">
                    <a href="{{ 'general.facebook' | translate }}"> <i class="fab fa-facebook"></i></a>
                    <a href="{{ 'general.linkedIn' | translate }}"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
