@import '../../styles/styles.scss';
.stats {
    padding: 113.1px 0 88px 0;
    .container {
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            .stats-title {
                @include fontis($main-font, 48px, 700, 65px, $primary);
                margin: 0 0 25px 0;
            }

            .stats-box {
                display: grid;
                grid-template-columns: repeat(3, 250px);
                .box {
                    height: 98px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:nth-child(2) {
                        border-right: 2px solid $border-semi-white;
                        border-left: 2px solid $border-semi-white;
                        margin: 0;
                    }
                    p.number {
                        @include fontis($main-font, 48px, 600, 66px, $primary);
                        margin: 0;
                    }
                    p.number-of {
                        @include fontis($main-font, 24px, 600, 32px, $text);
                        margin: 0;
                    }
                }
            }
            .community {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 73px 0 0 0;
                p {
                    @include fontis($main-font, 22px, 600, 23px, $primary);
                    margin: 0 0 9.5px;
                }
                .icons {
                    display: inline-flex;
                    justify-content: center;
                    a {
                        &:not(:last-child) {
                            margin-right: 36px;
                        }
                        &:hover {
                            i {
                                color: $primary;
                            }
                        }
                        i {
                            font-size: 28px;
                            line-height: 32px;
                            color: rgba(0, 0, 0, .4);
                            transition: all 0.15s linear;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-only(lg) {
    .stats {
        padding: 109.9px 0 86px 0;
        .container {
            .content {
                .stats-box {
                    .box {
                        height: 108px;
                    }
                }
                .community {
                    margin: 85px 0 0 0;
                }
            }
        }
    }
}
@include media-breakpoint-only(md) {
    .stats {
        padding: 113.1px 0 86px 0;
        .container {
            .content {
                .stats-box {
                    .box {
                        height: 108px;
                    }
                }
                .community {
                    margin: 66.6px 0 0 0;
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .stats {
        padding: 113.1px 0 80.6px 0;
        .container {
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                .stats-title {
                    @include fontis($main-font, 30px, 700, 35px, $primary);
                    margin: 0 0 25px 0;
                }

                .stats-box {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, calc(100% / 3));
                    .box {
                        height: 66.5px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        p.number {
                            @include fontis($main-font, 28px, 600, 31px, $text-secondary);
                            margin: 0;
                        }
                        p.number-of {
                            @include fontis($main-font, 16px, 600, 22px, $text-secondary);
                        }
                    }
                }
                .community {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 52px 0 0 0;
                    p {
                        @include fontis($main-font, 18px, 600, 23px, $primary);
                    }
                }
            }
        }
    }
}
