<div class="contact-us">
    <div class="container">
        <h1 class="section-title">{{ 'contactUs.sectionTitle' | translate }}</h1>
        <div class="content">
            <div class="form">
                <div class="form-content">
                    <p>{{ 'contactUs.form.formTitle' | translate }}</p>
                    <form nz-form [formGroup]="contactUsForm" (ngSubmit)="submitForm()">
                        <nz-form-item class="name">
                            <nz-form-control nzErrorTip="{{ 'contactUs.form.validators.name' | translate }}">
                                <nz-input-group>
                                    <input formControlName="name" nz-input placeholder="{{ 'contactUs.form.name' | translate }}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="email">
                            <nz-form-control nzErrorTip="{{ 'contactUs.form.validators.email' | translate }}">
                                <nz-input-group>
                                    <input formControlName="email" nz-input placeholder="{{ 'contactUs.form.email' | translate }}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="message">
                            <nz-form-control nzErrorTip="{{ 'contactUs.form.validators.message' | translate }}">
                                <nz-input-group>
                                    <textarea
                                        formControlName="message"
                                        nz-input
                                        placeholder="{{ 'contactUs.form.message' | translate }}"
                                        [nzAutosize]="{ minRows: 4 }"
                                        autocomplete="off"
                                        autocorrect="off"
                                        autocapitalize="off"
                                        spellcheck="false"
                                    ></textarea>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item class="submit-form">
                            <nz-form-control>
                                <button type="submit">send</button>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
            </div>
            <div class="texts">
                <p class="section-description">{{ 'contactUs.description' | translate }}</p>
                <div class="contacts">
                    <a href="mailto:{{ 'general.email' | translate }}">{{ 'general.email' | translate }}</a>
                </div>
                <div class="community">
                    <p>{{ 'contactUs.communityTitle' | translate }}</p>
                    <div class="social-networks">
                        <a href="{{ 'general.facebook' | translate }}"> <i class="fab fa-facebook"></i></a>
                        <a href="{{ 'general.linkedIn' | translate }}"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
