@import '../shared/styles/styles.scss';
.contact-us {
    padding: 88px 0 115px 0;
    .container {
        h1.section-title {
            @include fontis($main-font, 42px, 700, 60px, $primary);
            margin-bottom: 15px;
            user-select: none;
        }
        .content {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .texts {
                display: flex;
                flex-direction: column;
                p.section-description {
                    @include fontis($main-font, 20px, 400, 30px, $text-secondary);
                    max-width: 280px;
                    margin-bottom: 17px;
                }
                .contacts {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 76.5px;
                    a {
                        @include fontis($main-font, 17px, 600, 23px, $primary);
                        letter-spacing: 0.34px;
                        margin: 0;
                        transition: all 0.15s linear;
                        user-select: none;
                        &:hover {
                            color: $text-secondary;
                        }
                    }
                }
                .community {
                    display: flex;
                    flex-direction: column;
                    p {
                        @include fontis($main-font, 18px, 600, 23px, $primary);
                        margin-bottom: 11.5px;
                    }
                    .social-networks {
                        display: flex;
                        a {
                            &:not(:last-child) {
                                margin-right: 27px;
                            }
                            i {
                                transition: all 0.15s linear;
                                font-size: 24px;
                                line-height: 26px;
                                color: $text-secondary;
                                &:hover {
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
            }
            .form {
                background-color: $semi-white-background;
                width: 100%;
                max-width: 528px;
                margin: 0 68px 0 0;
                .form-content {
                    padding: 22px 30.5px 16px 27.5px;
                    p {
                        @include fontis($main-font, 17px, 400, 22px, $input-placeholder);
                        margin-bottom: 14px;
                    }
                    .texts {
                        .community {
                            margin-bottom: 58px;
                        }
                    }
                    form {
                        display: grid;
                        grid-template-columns: repeat(2, calc(50% - 5px));
                        grid-column-gap: 10px;
                        grid-template-areas:
                            'formname email'
                            'message message'
                            'button button';
                        textarea {
                            padding: 12px 16.5px;
                            resize: none;
                        }
                        .ant-form-item {
                            margin: 0;
                            .ant-form-item-control {
                                .ant-form-explain {
                                    @include fontis($main-font, 13px, 600, 14px, $error-color);
                                    margin: 4.4px 0 0 0;
                                    min-height: unset;
                                }
                                &.has-error {
                                    .ant-input {
                                        border: 1px solid $error-input-border;
                                    }
                                }
                            }
                        }
                        .ant-input {
                            @include fontis($main-font, 16px, 400, 22px, $primary);
                            border: 1px solid $input-border;
                            border-radius: 2px;
                            background-color: $white;
                            height: 46px;
                            width: 100%;
                            outline: none;
                            box-shadow: none;
                            transition: all 0.15s linear;
                            padding: 12px 0 12px 16.5px;

                            &:focus {
                                border: 1px solid $input-focused-border;
                            }
                            &::placeholder {
                                @include fontis($main-font, 16px, 400, 22px, $input-placeholder);
                            }
                        }
                        .name {
                            grid-area: formname;
                            margin-bottom: 10px;
                        }
                        .email {
                            grid-area: email;
                            margin-bottom: 10px;
                        }
                        .message {
                            grid-area: message;
                            margin-bottom: 22px;
                        }
                        .submit-form {
                            grid-area: button;
                            text-align: center;
                            user-select: none;
                            button {
                                @include fontis($main-font, 20px, 700, 24px, $brand-green);
                                border: 0;
                                background: none;
                                outline: none;
                                transition: all 0.15s linear;
                                padding: 0;
                                &::after {
                                    content: '';
                                    display: block;
                                    width: 0;
                                    height: 2px;
                                    background: $brand-green;
                                    transition: width 0.3s;
                                }
                                &:hover {
                                    cursor: pointer;
                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .contact-us {
        padding: 48px 0 47.5px 0;
        .container {
            .content {
                flex-direction: column;
                .texts {
                    margin: 0;
                    .community {
                        margin-bottom: 58px;
                    }
                }
                .form {
                    width: 528px;
                    margin: 0 0 60px 0;
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .contact-us {
        padding: 52px 0 28px 0;
        .container {
            h1.section-title {
                @include fontis($main-font, 32px, 700, 40px, $primary);
                margin-bottom: 10px;
            }
            .content {
                .texts {
                    p.section-description {
                        @include fontis($main-font, 18px, 400, 26px, $text-secondary);
                        margin-bottom: 6px;
                    }
                    .contacts {
                        margin-bottom: 49.5px;
                    }
                    .community {
                        margin-bottom: 56px;
                    }
                }
                .form {
                    width: 100%;
                    .form-content {
                        padding: 18px 30.5px 17px 15px;
                        form {
                            display: flex;
                            flex-direction: column;
                            nz-input-group {
                                &:not(:last-child) {
                                    margin-bottom: 10px;
                                }
                            }
                            .name {
                                margin-bottom: 0;
                            }
                            .email {
                                margin-bottom: 0;
                            }
                            .message {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
