<div class="landing-page">
    <app-landing-header></app-landing-header>
    <landing-benefits></landing-benefits>
    <app-stats [isLanding]="true"  [statCounts]="landingStats" [stats]="'landing.stats' | translate"></app-stats>
    <call-to-action></call-to-action>
</div>
