@import '../../shared/styles/styles.scss';
.about-us-header {
    .container {
        .content {
            padding: 91.5px 0 91.5px 0;
            display: inline-flex;
            img {
                max-width: 520px;
                margin-right: 92.5px;
            }
            .about {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .about-title {
                    @include fontis($main-font, 42px, 600, 60px, $primary);
                    margin-bottom: 10px;
                }
                .description {
                    @include fontis($main-font, 20px, 400, 30px, $text-secondary);
                    margin-bottom: 21px;
                    max-width: 405px;
                }
                .more-about {
                    @include fontis($main-font, 20px, 700, 24px, $brand-green);
                    &:hover {
                        i {
                            margin-left: 20.2px;
                        }
                    }
                    i {
                        margin-left: 10.2px;
                        transition: all 0.15s linear;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-only(lg) {
    .about-us-header {
        .container {
            .content {
                padding: 91.5px 0 104.5px 0;
                img {
                    max-width: 479.38px;
                    margin-right: 60.5px;
                }
            }
        }
    }
}
@include media-breakpoint-only(md) {
    .about-us-header {
        .container {
            padding: 0;
            .content {
                padding: 65.4px 0 104.5px 0;
                img {
                    max-width: 360.21px;
                    margin-right: 40.8px;
                }
                .about {
                    .description {
                        max-width: 319px;
                        margin-bottom: 19.4px;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .about-us-header {
        .container {
            .content {
                padding: 61px 0 79px 0;
                display: flex;
                flex-direction: column;
                img {
                    order: 2;
                    max-width: 100%;
                    margin-right: 0px;
                }
                .about {
                    order: 1;
                    .about-title {
                        @include fontis($main-font, 32px, 700, 40px, $primary);
                        margin-bottom: 2px;
                    }
                    .description {
                        @include fontis($main-font, 18px, 400, 26px, $text-secondary);
                        max-width: 345px;
                        margin-bottom: 11px;
                    }
                    .more-about {
                        margin-bottom: 37px;
                    }
                }
            }
        }
    }
}
