<div class="about-us-header">
    <div class="container">
        <div class="content">
            <img src="https://res.cloudinary.com/dvompj8gc/image/upload/v1586177610/web/about-us-header.png" />
            <div class="about">
                <h1 class="about-title">{{ 'aboutUni.headerContainer.sectionTitle' | translate }}</h1>
                <p class="description">{{ 'aboutUni.headerContainer.description' | translate }}</p>
                <a class="more-about" [routerLink]="'/'"
                    >{{ 'aboutUni.headerContainer.moreAbout' | translate
                    }}<i [inlineSVG]="'https://res.cloudinary.com/dvompj8gc/image/upload/v1586178395/web/icons/arrow-right_mz5z9v.svg'"></i
                ></a>
            </div>
        </div>
    </div>
</div>
