@import '../../shared/styles/styles.scss';
.benefits {
    padding: 100px 0 0 0;
    .container {
        .content {
            .benefits-boxes {
                display: grid;
                grid-template-columns: repeat(3, calc((100% - (2 * 85.5px)) / 3));
                grid-column-gap: 85.5px;
                grid-row-gap: 68.9px;
                .benefit {
                    display: flex;
                    flex-direction: column;
                    img {
                        height: 61px;
                        margin: 0 auto 19.8px 0;
                    }
                    .benefit-title {
                        @include fontis($main-font, 22px, 700, 23px, $primary);
                        margin: 0 0 10px 0;
                    }
                    .benefit-description {
                        @include fontis($main-font, 20px, 400, 30px, $text-secondary);
                        margin: 0;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-only(lg) {
    .benefits {
        .container {
            .content {
                .benefits-boxes {
                    grid-template-columns: repeat(3, calc((100% - (2 * 44.7px)) / 3));
                    grid-column-gap: 44.7px;
                    grid-row-gap: 60px;
                    .benefit {
                        img {
                            margin: 0 auto 18.9px 0;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-only(md) {
    .benefits {
        .container {
            .content {
                .benefits-boxes {
                    grid-template-columns: repeat(2, calc((100% - 40.3px) / 2));
                    grid-column-gap: 40.3px;
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .benefits {
        .container {
            .content {
                .benefits-boxes {
                    grid-template-columns: 100%;
                    grid-column-gap: 0;
                    grid-row-gap: 56px;
                    .benefit {
                        max-width: 450px;
                        img {
                            width: 102.6px;
                            margin: 0 auto 15.7px 0;
                        }
                        .benefit-description {
                            @include fontis($main-font, 18px, 400, 26px, $text-secondary);
                        }
                    }
                }
            }
        }
    }
}
