<div class="benefits">
    <benefits-information></benefits-information>
    <div class="container">
        <div class="content">
            <div class="benefits-boxes">
                <div *ngFor="let benefit of 'landing.benefits.boxes' | translate" class="benefit">
                    <img src="{{ benefit.icon }}" />
                    <p class="benefit-title">{{ benefit.title }}</p>
                    <p class="benefit-description">{{ benefit.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
