<div class="call-to-action" [ngStyle]="{'background-color': settings ? settings.primaryColor : '#fafcfc'}">
    <div class="container">
        <div class="content">
            <h3 [ngStyle]="{'color': settings ? settings.textColor : '#283837'}">{{ 'landing.callToAction.title' | translate }}</h3>
            <stores></stores>
        </div>
    </div>
</div>
