@import '../../styles/styles.scss';
.call-to-action {
    background-color: $semi-white-background;
    .container {
        .content {
            padding: 91.5px 0 105.1px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                @include fontis($main-font, 40px, 700, 50px, $primary);
                margin: 0 0 17.3px 0;
                user-select: none;
            }
            .stores {
                display: flex;
                flex-direction: row;
                user-select: none;
                a {
                    &:not(:last-child) {
                        margin: 0 16.8px 0 0;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .call-to-action {
        .container {
            .content {
                padding: 73px 0 100.3px 0;
                h3 {
                    @include fontis($main-font, 30px, 700, 32px, $primary);
                    margin: 0 0 30.7px 0;
                }
            }
        }
    }
}
