@import '../../shared/styles/styles.scss';

.header {
    background-color: $semi-white-background;
    padding-top: 67px;
    .container {
        width: 100%;

        .content {
            padding-top: 117px;
            display: flex;
            flex-direction: row;
            .mockup {
                height: 534px;

                position: relative;
            }
            .left-side {
                min-width: 464px;
                margin-right: 47.5px;

                .header-title {
                    @include fontis($main-font, 48px, 800, 54px, $primary);
                    margin-bottom: 33px;
                    margin-top: 76px;
                    user-select: none;
                    span {
                        color: $brand-green;
                    }
                }
                .stores {
                    display: inline-flex;
                    user-select: none;
                    a {
                        &:not(:last-child) {
                            margin-right: 16.8px;
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-only(lg) {
    .header {
        .container {
            height: 601px;
            .content {
                .left-side {
                    margin-right: -67px;
                }
                .mockup {
                    width: 637.12px;
                    right: 0;
                    height: 483.12px;
                }
            }
        }
    }
}
@include media-breakpoint-only(md) {
    .header {
        .container {
            .content {
                padding-top: 133px;
                .mockup {
                    width: 386.67px;
                    height: 293.21px;
                    margin-top: 45px;
                }
                .left-side {
                    min-width: 418px;
                    max-width: 418px;
                    margin-right: -34.97px;
                    .header-title {
                        @include fontis($main-font, 42px, 800, 50px, $primary);
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .header {
        .container {
            .content {
                padding-top: 82px;
                flex-direction: column;
                align-items: center;
                padding: 0;
                .mockup {
                    width: 100%;
                    height: 356.79px;
                    margin: 0;
                }
                .left-side {
                    max-width: 309px;
                    min-width: 309px;
                    display: flex;
                    flex-direction: column;

                    align-items: center;
                    margin: 0 0 77px 0;

                    .header-title {
                        @include fontis($main-font, 32px, 800, 40px, $primary);
                        text-align: center;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
