<div class="header">
    <div class="container">
        <div class="content">
            <div class="left-side">
                <h1 class="header-title" innerHtml="{{ 'landing.header.headerTitle' | translate }}"></h1>
                <stores></stores>
            </div>
            <img class="mockup" src="https://res.cloudinary.com/dvompj8gc/image/upload/v1586376327/web/header-mockup_n7v1xt.png" />
        </div>
    </div>
</div>
