<div class="university header" [ngStyle]="{'background-color': settings?.primaryColor}">
    <div class="container">
        <img class="bg-shadow" src="https://res.cloudinary.com/dvompj8gc/image/upload/w_450/v1586806304/web/uni-header-background_i5ky1s.png" />
        <img *ngIf="settings" class="uni-campus" [src]="settings?.header" />
        <div class="content">
            <div class="grid">
                <img class="uni-logo" [src]="settings?.logo">
                <h1 [ngStyle]="{'color': settings?.textColor}">{{ settings?.name }} Community</h1>
                <div class="info">
                    <p [ngStyle]="{'color': settings?.textColor}">Immerse into your community</p>
                    <span [ngStyle]="{'color': settings?.textColor}">download Uni+ app</span>
                    <stores></stores>
                </div>
            </div>
        </div>
    </div>
</div>
