@import '../../shared/styles/styles.scss';

.university.header {
    height: 600px;
    margin-bottom: 60px;
    .container {
        position: relative;
        height: 100%;
        img.bg-shadow {
            position: absolute;
            bottom: 0;
            left: -75px;
        }
        img.uni-campus {
            position: absolute;
            left: 0;
            bottom: -60px;
            width: 450px;
        }
        .content {
            display: flex;
            margin-left: calc(85px + 483px);
            height: 100%;
            .grid {
                display: grid;
                align-items: center;
                grid-template-areas:    'logo name'
                                        'info info';
                grid-template-rows: repeat(2, min-content);
                grid-row-gap: 148px;
                grid-column-gap: 35px;
                margin: auto 0 49px 0;
                img.uni-logo {
                    height: 96px;
                    max-width: 150px;
                    grid-area: logo;
                }
                h1 {
                    @include fontis($main-font, 42px, 800, 46px, $white);
                    margin: 0;
                    grid-area: name;
                }
                .info {
                    grid-area: info;
                    p {
                        @include fontis($main-font, 20px, 700, 30px, $white);
                        margin: 0 0 10px 0;
                    }
                    span {
                        @include fontis($main-font, 15px, 400, 20px, $white);
                    }
                    .stores {
                        display: grid;
                        margin-top: 7px;
                        grid-template-columns: repeat(2, min-content);
                        grid-column-gap: 15px;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(lg) {
        height: 486px;
        margin-bottom: 47px;
        .container {
            img.bg-shadow {
                width: 425px;
            }
            img.uni-campus {
                width: 367px;
                bottom: -47px;
            }
            .content {
                margin-left: calc(30px + 367px);
                .grid {
                    grid-row-gap: 67px;
                    grid-column-gap: 25px;
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        height: unset;
        margin-bottom: 38px;
        .container {
            img.bg-shadow {
                width: 325px;
            }
            img.uni-campus {
                width: 310px;
                bottom: -38px;
            }
            .content {
                margin-left: calc(33px + 310px);
                .grid {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 76px 0 51px 0;
                    > img {
                        margin-bottom: 9px;
                    }
                    h1 {
                        margin-bottom: 42.4px;
                        font-size: 34px;
                        line-height: 40px;
                    }
                    .info {
                        p {
                            font-size: 18px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        margin-bottom: 33px;
        .container {
            padding-bottom: 340px;
            img.bg-shadow {
                width: 274px;
                margin: 0 auto;
                left: -35px;
                right: 0;
            }
            img.uni-campus {
                width: 264px;
                bottom: -32px;
                margin: 0 auto;
                right: -35px;
                left: 0;
            }
            .content {
                margin: 0;
                justify-content: center;
                .grid {
                    align-items: center;
                    margin: 55px 0 0 0;
                    h1 {
                        font-size: 32px;
                        text-align: center;
                    }
                    .info {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        .stores {
                            margin-top: 14.5px;
                        }
                        p {
                            font-size: 16px;
                            margin: 0;
                        }
                        span {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
