<app-uni-header [settings]="uniSettings"></app-uni-header>
<university-features [settings]="uniSettings"></university-features>
<app-stats [statCounts]="uniStats" [stats]="'universities.stats' | translate"></app-stats>
<app-why-uni></app-why-uni>
<call-to-action [settings]="uniSettings"></call-to-action>
