@mixin fontis($fam, $siz, $wgh, $hgh, $col) {
    font-family: $fam, sans-serif;
    font-size: $siz;
    font-weight: $wgh;
    line-height: $hgh;
    color: $col;
}

@mixin no-selection() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin transition {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

@mixin hover-opacity {
    &:hover {
        opacity: 0.7;
    }
}

@mixin no-outline {
    &:focus {
        outline: 0;
    }
    * {
        &:focus {
            outline: 0;
        }
    }
}

@mixin cursor-pointer {
    cursor: pointer;
    * {
        cursor: pointer;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}
