@import './mixins.scss';
@import './variables.scss';
@import '../../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import '~ng-zorro-antd/style/index.min.css';

body {
    overflow-x: hidden;
    overscroll-behavior: contain;
}
.menu-arrow {
    content: url(/assets/icons/arrow.svg);
}
a {
    display: block;
}
