$main-font: 'Nunito Sans';
$primary: #283837;
$brand-green: #59dad8;
$text-secondary: #64686c;
$text: #a3adae;
$white: #fff;
$menu-border: #f0f5fa;
$semi-white-background: #fafcfc;
$input-border: #f1f6f6;
$input-placeholder: #828384;
$input-focused-border: #d3e7e7;
$error-color: #fc3c54;
$error-input-border: #ffdce0;
$border-semi-white: #f7f7f7;
$compare-border-transparent: rgba(40, 56, 55, 0.05);
