@import '../../styles/styles.scss';
.ant-popover-inner-content {
    padding: 24px 17px 16.3px 17px;
}
.popover-content {
    &:not(:last-child) {
        margin-bottom: 18.5px;
    }
    a {
        @include fontis($main-font, 16px, 600, 22px, $primary);
        display: block;
        transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -webkit-transition: all 0.15s linear;

        &.active-link {
            color: $brand-green;
        }

        &:hover {
            @include fontis($main-font, 16px, 600, 22px, $brand-green);
        }
    }
}
.landing {
    h3 {
        text-align: center;
    }
    h4 {
        margin-bottom: 24px;
    }
    nav {
        position: fixed;
        top: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        height: 67px;
        width: 100%;
        user-select: none;
        border-bottom: 1px solid transparent;
        transition: all 0.15s linear;
        -moz-transition: all 0.15s linear;
        -webkit-transition: all 0.15s linear;
        &.menu-scrolled {
            border-bottom: 1px solid $menu-border;
            background-color: $white;
        }
        menu-hamburger {
            display: none;
        }

        .content {
            display: flex;

            align-items: center;
            .logo {
                margin-right: 46.5px;
                outline: none;
                cursor: pointer;
            }
            .menu {
                align-items: center;
                display: flex;
                flex-direction: row;
                width: 100%;

                .menu-item {
                    @include fontis($main-font, 16px, 600, 22px, $primary);
                    margin-right: 28.5px;
                    transition: all 0.15s linear;
                    -moz-transition: all 0.15s linear;
                    -webkit-transition: all 0.15s linear;
                    &.active-link {
                        color: $brand-green;
                    }
                    &:hover {
                        @include fontis($main-font, 16px, 600, 22px, $brand-green);
                    }
                    &.expandable-mobile {
                        display: none;
                    }
                    &.expandable {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        &:hover {
                            @include fontis($main-font, 16px, 600, 22px, $brand-green);
                            i {
                                svg {
                                    path {
                                        fill: $brand-green;
                                    }
                                }
                            }
                        }
                        i {
                            margin-left: 6.7px;
                            transition: all 0.15s linear;
                            -moz-transition: all 0.15s linear;
                            -webkit-transition: all 0.15s linear;
                            svg {
                                vertical-align: middle;
                            }
                        }
                    }
                    &.menu-end {
                        margin-left: auto;
                        display: flex;
                        &:hover {
                            img {
                                position: relative;
                                transition: all 0.15s linear;
                                -moz-transition: all 0.15s linear;
                                -webkit-transition: all 0.15s linear;
                                right: -10.5px;
                            }
                        }
                        img {
                            position: relative;
                            transition: all 0.15s linear;
                            -moz-transition: all 0.15s linear;
                            -webkit-transition: all 0.15s linear;
                            right: 0;
                        }
                        a {
                            @include fontis($main-font, 18px, 700, 24px, $brand-green);
                            white-space: nowrap;
                            margin-right: 9.5px;
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .landing {
        nav {
            .content {
                justify-content: space-between;
                overflow-x: hidden;
                margin: 0;
                padding: 0;

                menu-hamburger {
                    display: block;
                    z-index: 1000;
                }
                .logo {
                    transition: all 0.15s linear;

                    width: 52.93px;
                    height: 35px;
                }
                .disabled {
                    visibility: hidden;
                }

                .menu {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;
                    z-index: 100;
                    top: -100vh;
                    left: 0;
                    padding-top: 60px;
                    transition: all 0.5s ease-in-out;
                    text-align: center;

                    &.expanded {
                        top: 0;
                        height: 100vh;
                        text-align: center;
                        background-color: $white;
                    }

                    .menu-item {
                        @include fontis($main-font, 20px, 600, 24px, $primary);
                        display: block;
                        margin-right: 0;
                        margin-bottom: 33.8px;
                        &:hover {
                            @include fontis($main-font, 20px, 600, 24px, $brand-green);
                        }
                        &.expandable {
                            display: none;
                        }
                        &.menu-end {
                            @include fontis($main-font, 18px, 700, 24px, $brand-green);
                        }
                        &.expandable-mobile {
                            display: block;
                            .ant-collapse {
                                .ant-collapse-item {
                                    border: 0;
                                }
                                .ant-collapse-header {
                                    @include fontis($main-font, 20px, 600, 24px, $primary);
                                    padding: 0;
                                    display: flex;
                                    justify-content: center;

                                    i {
                                        order: 1;
                                        margin-left: 9.5px;
                                        svg {
                                            vertical-align: super;
                                        }
                                    }
                                }
                                .ant-collapse-content-box {
                                    padding: 12.3px 0 0 0;
                                    display: flex;
                                    flex-direction: column;
                                    .active-link {
                                        color: $brand-green;
                                    }
                                    a {
                                        @include fontis($main-font, 18px, 400, 24px, $text-secondary);
                                        margin: 18px 0 0 0;
                                        transition: 0.15s linear;

                                        &:first-child {
                                            margin: 0;
                                        }
                                        &:hover {
                                            @include fontis($main-font, 18px, 600, 24px, $brand-green);
                                        }
                                    }
                                }
                            }
                        }
                        &.menu-end {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
