<div class="landing" id="top">
    <nav [ngClass]="{ 'menu-scrolled': forceScrolledState || isScrolled }">
        <div class="container">
            <div class="content">
                <img
                    class="logo"
                    [routerLink]="['/']"
                    src="{{ 'general.logo' | translate }}"
                    [ngClass]="{ disabled: menuMobileExpandedStatus && !menuMobileClosingUp }"
                />
                <menu-hamburger
                    [ngClass]="{ expanded: menuMobileExpandedStatus, closingUp: menuMobileClosingUp }"
                    (click)="expandMenu()"
                ></menu-hamburger>
                <div class="menu" [ngClass]="{ expanded: menuMobileExpandedStatus && !menuMobileClosingUp }">
                    <div *ngFor="let item of 'menu.items' | translate">
                        <div *ngIf="item.expandable">
                            <a
                                class="menu-item expandable"
                                nz-popover
                                nzType="primary"
                                [routerLink]="item.link"
                                [nzPopoverContent]="expanded"
                                nzPopoverPlacement="bottom"
                                >{{ item.title }}<i [inlineSVG]="item.arrowIcon"></i
                            ></a>
                            <ng-template #expanded>
                                <div class="popover-content" *ngFor="let uni of universities">
                                    <a [routerLink]="['university/' + uni.slug]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"> {{ uni.name }}</a>
                                </div>
                            </ng-template>
                            <nz-collapse [ngClass]="'menu-item expandable-mobile'" [nzBordered]="false">
                                <nz-collapse-panel [nzHeader]="item.title" [nzExpandedIcon]="expandIcon">
                                    <a
                                        *ngFor="let uni of universities"
                                        [routerLink]="['university/' + uni.slug]"
                                        routerLinkActive="active-link"
                                        [routerLinkActiveOptions]="{exact: true}"
                                    >
                                        {{ uni.name }}</a
                                    >
                                </nz-collapse-panel>
                            </nz-collapse>
                            <ng-template #expandIcon>
                                <i [inlineSVG]="item.arrowIcon"></i>
                            </ng-template>
                        </div>

                        <a *ngIf="!item.expandable" [routerLink]="item.link" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="menu-item">
                            {{ item.title }}
                        </a>
                    </div>
                    <div class="menu-item menu-end" *ngFor="let flexEndItem of 'menu.menuEnd' | translate">
                        <a href="{{ 'https://' + environment?.env + '.' + flexEndItem.href }}" target="_blank">
                            {{ flexEndItem.title }}
                        </a>
                        <img src="{{ flexEndItem.icon }}" />
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
