@import '../../styles/styles.scss';

@keyframes menu1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-45deg);
    }
}
@keyframes menu2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(45deg);
    }
}
@keyframes menu3 {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes menu4 {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes menu5 {
    0% {
        margin-top: 6px;
        margin-bottom: -2px;
    }
    100% {
        margin-top: 0;
        margin-bottom: 4px;
    }
}
@keyframes menu6 {
    0% {
        margin-top: -2px;
        margin-bottom: 6px;
    }
    100% {
        margin-top: 0;
        margin-bottom: 0;
    }
}
@keyframes menu7 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes menu8 {
    0% {
        margin-bottom: 0;
    }
    100% {
        margin-bottom: 4px;
    }
}
menu-hamburger {
    @include cursor-pointer();
    &.expanded {
        .hamburger {
            div {
                transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
                &:nth-child(1) {
                    margin-top: 6px;
                    margin-bottom: -2px;
                    animation: menu1 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 1 0.2s;
                    animation-fill-mode: both;
                }
                &:nth-child(2) {
                    opacity: 0;
                    margin-bottom: 0;
                }
                &:nth-child(3) {
                    margin-top: -2px;
                    margin-bottom: 6px;
                    animation: menu2 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 1 0.2s;
                    animation-fill-mode: both;
                }
            }
        }
    }
    &.closingUp {
        .hamburger {
            div {
                &:nth-child(1) {
                    animation: menu3 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 1, menu5 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
                }
                &:nth-child(2) {
                    animation: menu7 0.6s 0s 1, menu8 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
                }
                &:nth-child(3) {
                    animation: menu4 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 1, menu6 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 1;
                }
            }
        }
    }
}

.hamburger {
    position: relative;
    display: block;
    border: none;
    color: inherit;
    text-transform: none;
    height: 14px;
    div {
        width: 18px;
        height: 2px;
        display: block;
        background-color: black;
        border-radius: 1.33px;
        &:not(:last-of-type) {
            margin-bottom: 4px;
        }
    }
}
